@{
    ViewBag.Title = "Providers";
}

<script src="~/Scripts/gmaps.js" type="text/javascript"></script>
<h2>Providers</h2>

<div id="mapControl" ng-controller="ProviderCtrl" ng-init="init()">
    <div id="providerMap">

    </div>
</div>
